body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	/* Simple page reset */
	margin:0px;
	padding:0px;
}

body{
	/* Setting default text color, background and a font stack */
	color:#cccccc;
	font-size:13px;
	background: #000;/*#302b23;*/
	font-family:Arial, Helvetica, sans-serif;
}

ul{
	margin:0;
	padding:0;
}

ul.container{
	/* The topmost UL */
	width:220px;
	margin:0 auto;
	padding:0px;
}

li{
	list-style:none;
	text-align:left;
}

li.menu{
	/* The main list elements */
	padding:5px 0;
	width:100%;
}

li.button a{
	/* The section titles */
	display:block;
	font-family:BPreplay,Arial,Helvetica,sans-serif;
	font-size:21px;
	height:34px;
	overflow:hidden;
	padding:10px 10px 0;
	position:relative;
	width:200px;
}

li.button a:hover{
	/* Removing the inherited underline from the titles */
	text-decoration:none;
}

li.button a span{
	/* This span acts as the right part of the section's background */
	height:44px;
	position:absolute;
	right:0;
	top:0;
	width:4px;
	display:block;
}

/* Setting up different styles for each section color */

li.button a.blue{background:url(../img/blue.png) repeat-x top left; color:#074384;}
li.button a.blue span{ background:url(../img/blue.png) repeat-x top right;}

li.button a.green{background:url(../img/green.png) repeat-x top left; color:#436800;}
li.button a.green span{ background:url(../img/green.png) repeat-x top right;}

li.button a.orange{background:url(../img/orange.png) repeat-x top left; color:#882e02;}
li.button a.orange span{ background:url(../img/orange.png) repeat-x top right;}

li.button a.red{background:url(../img/red.png) repeat-x top left; color:#641603;}
li.button a.red span{ background:url(../img/red.png) repeat-x top right;}

/* The hover effects */

li.button a:hover{ background-position:bottom left;}
li.button a:hover span{ background-position:bottom right;}

.dropdown{
	/* The expandable lists */
	display:none;
	padding-top:5px;
	width:100%;
}

.dropdown li{
	/* Each element in the expandable list */
	background-color:#373128;
	border:1px solid #40392C;
	color:#CCCCCC;
	margin:5px 0;
	padding:4px 18px;
	max-height: 300px;
	overflow:auto;
}


/* The styles below are only necessary for the demo page */

h1{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:36px;
	font-weight:normal;
	margin-bottom:15px;
}

h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	padding-right:140px;
	right:0;
	text-align:right;
	text-transform:uppercase;
	top:15px;
}

.clear{
	clear:both;
}

#main{
	/* The main container */
	margin:0;
	margin-left: 10px;
	text-align:center;
	width:200px;
	position:relative;
}

a:link, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:link:hover{
	text-decoration:underline;
}

p{
	/* The tut info on the bottom of the page */
	padding:10px;
	text-align:center;
}

hr
{
    border: none;
    background-color: #eee;
    width: auto;
    height: 1px;
}

.urbandictionary
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url(../img/urban.ico) no-repeat;
    margin-right: 4px;
    padding-left: 20px;
    margin-bottom: 4px;
    
}

.google
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url(../img/google.ico) no-repeat;
    margin-right: 4px;
    padding-left: 20px;
    margin-bottom: 4px;
}

.wikies
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url(../img/wiki.ico) no-repeat;
    margin-right: 4px;
    padding-left: 20px;
    margin-bottom: 4px;
}

.externallink
{
    cursor: pointer;
}

.hr_gray
{
    border: none;
    background-color: #555;
    height: 1px;
}

abbr
{
    border: 1px dotted #eee;
    border-width: 0px 0px 1px 0px;
}

.guttenberg
{
    color: Lime;
    font-weight: bold;
}

.speech
{
    font-weight: bold;
    color: Yellow;
    cursor:pointer;    
}

.speech:hover
{
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
    text-decoration: none;
}

.view_word
{
    font-weight: bold;
    color:#0196e3;
    cursor:pointer;    
}

.view_word:hover
{
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
    text-decoration: none;
}

.word_container
{
    text-align: left;
	background-color:#373128;
	border:1px solid #40392C;
	color:#CCCCCC;
	margin:5px 0;
	padding:4px 18px;
}

.google_opinion
{
    font-weight: bold;
    color:#ee5c00;
    cursor:pointer;
    /*border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #373128;*/
}

.opinion_bordered
{
    border-color: #aaa;
    border-width: 0px 1px 0px 1px;
    border-style: dotted;
    padding-left: 5px;
    padding-right: 5px;
}

.google_opinion:hover
{
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
    /*border-color: #ee5c00;*/
    text-decoration: none;
}

.google_opinion_done
{
    font-style: normal;
    font-weight: normal;
    
}

.section
{
    font-style: italic;
    font-weight: bold;
    display: block;
    color: #339933;
}

.popup_trans
{
    font-weight: bold;
}

.bing_opinion
{
    font-weight: bold;
    color:#ff5c00;
    cursor:pointer;    
}

.bing_opinion:hover
{
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
    text-decoration: none;
}

.bing_opinion_done
{
    font-style: normal;
    font-weight: normal;
}

.miscrosoft
{
    font-style: normal;
    font-weight: normal;
}

.microsoft_trans
{
    font-style: italic;
    font-weight: bold;
}

.face_think2
{
    width: 118px;
    height: 124px;
    display: block;
    background-image: url(../img/face_think2.png);
}

.face_think1
{
    width: 118px;
    height: 124px;
    display: block;
    background-image: url(../img/face_think.png);
}

.wait_face2
{
    width: 118px;
    height: 124px;
    display: block;
    background-image: url(../img/wait_face2.png);
}

.wait_face3
{
    width: 118px;
    height: 124px;
    display: block;
    background-image: url(../img/wait_face3.png);
}

.wait_face4
{
    width: 118px;
    height: 124px;
    display: block;
    background-image: url(../img/wait_face4.png);
}

.wait_face5
{
    width: 151px;
    height: 124px;
    display: block;
    background-image: url(../img/wait_face5.png);
}

.thumbnail
{
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}